* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body {

    font-family: 'Roboto', sans-serif;

}

.logo_orange {
    display: none;
}

header {
    position: absolute;
    width: 100%;
    z-index: 6;
    height: 80px;
    background-color: #000000;
    backdrop-filter: blur(2px);

}

.hidden {
    visibility: hidden;
}


.gray_wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;
    transform: translateX(-100%);
}

.gray_wrapper_pop-up {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 11;
    transform: translateX(-100%);
}

.pop-up_active {
    transform: translateX(0);
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 14px 20px;
    align-items: center;
    max-width: 100%;
}

.logo {
    position: relative;
    margin: 0;

}

.logo-border {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 82px;
    height: 52px;
}

.logo h1 {
    margin: 3.55px 4.75px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19.01px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.logo img {
    position: absolute;
    left: 10px;
    top: 24.64px;
}

.logo a {
    text-decoration: none;
}

.navigation {
    width: 100%;
    margin-left: 63px;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-right: 58px;
    margin-left: 0;
}

.navigation-item:last-child {
    margin-right: 0;
    margin-left: 380px;
}



.navigation-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.navigation-item a:hover {
    color: #F9804B;

}


.navigation-item:first-child a {
    color: #F9804B;
}


.header_burger {
    display: none;
    width: 18px;
    height: 10px;
    position: relative;
    z-index: 2;
}

.burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    right: 0;

}

.burger__liine_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}


/* .navigation-item:first-child a:active {
    color: #FFFFFF;
} */

.watch_your_favorite_animal_online {
    background: url(../../assets/images/Giant\ Panda.jpg) center;
    background-size: cover;
    z-index: 5;
    position: absolute;
    height: 780px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-repeat: no-repeat;
}

.yellow_dot {
    position: absolute;
    width: 465px;
    height: 465px;
    border-radius: 232.5px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}


.yellow_dot_container p {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    left: calc(50% - 500.31px/2 + 330.15px);

}

.color-text {
    color: #FFEE2E;
}

.watch_online {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.watch_online:hover {
    background: #E47209;
    cursor: pointer;

}

.watch_online:active {
    background: #4B9200;
}

.backstage {
    max-width: 1200px;
    padding-top: 780px;
    margin: 0 auto;
    padding-bottom: 176px;
}


.flower_foto1 {
    position: absolute;
    top: 792px;
    right: 0;
}

.backstage-wrapper {
    margin-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
}

.backstage-container {
    display: flex;

}

/* .backstage-container img {
    width: 609px;
    height: 403px;
}
 */
.backstage-content {
    margin-left: 87px;
    padding: 0;
}

.backstage-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}


.content {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    vertical-align: top;
    text-align: left;
    color: #333B41;
    margin-top: 22px;
}

.sub-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    vertical-align: top;
    text-align: left;
    margin-top: 54px;
}


.sub-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333B41;
    margin-top: 34px;
    /* margin-bottom: -3px; */
}

.pets {
    position: relative;

}



.pets-slider {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.left {
    position: absolute;
    top: 46%;
    left: -82px;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;

}

.left:active {
    background: #4B9200;

}

.right:active {
    background: #4B9200;

}

.left img {
    position: absolute;
    width: 16px;
    height: 8px;
    margin: 27px 23px 27px 23px;

}

.left-and-right {
    display: flex;
    justify-content: center;
}

.right img {
    position: absolute;
    width: 16px;
    height: 8px;
    margin: 27px 23px 27px 23px;
}

.right {
    position: absolute;
    top: 46%;
    right: -80px;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    position: relative;
}

.pet-container-row {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pets-conainer {
    position: relative;

}

.alnimals_card {
    outline: solid 1px #FA6F32;
    outline-offset: -1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 366px;
    height: 426px;

}

.card_img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.alnimals_card:nth-child(1) {
    order: 1;
}

.alnimals_card:nth-child(2) {
    order: 2;
}

.alnimals_card:nth-child(3) {
    order: 3;
}

.alnimals_card:nth-child(4) {
    order: 4;
}

.alnimals_card:nth-child(5) {
    order: 5;
}

.alnimals_card:nth-child(7) {
    order: 6;
}

.six {
    display: none;
}







.alnimals_card_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.alnimals_card_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
    margin-top: -3px;
}

.alnimals_card-content {
    position: relative;
    justify-content: space-around;
    padding: 8px 12px 14px 16px;
    width: 100%;

}

.text-description {
    margin-left: 0;
}

/* .card_img img:hover .text-description p{
    transition: transform 1s;
    transform: translateY(42px);
    color: #4B9200;

} */


/* .alnimals_card :hover {
    filter: brightness(50%);
    transform: scale(1.05);
    transition: transform 1s;
}


.alnimals_card:hover .text-description p{
    color: #FFFFFF;
    transform: translateY(-356px);
    transition: transform 1s;

}
 */


.alnimals_card:hover .card_img {
    filter: brightness(50%);
    transform: scale(1.05);
    transition: transform 1s;
    border-radius: 5px
}


.alnimals_card:hover .text-description p {
    color: #FFFFFF;
    transform: translateY(-356px);
    transition: transform 1s;

}



.image-content-banana {
    margin-top: 10px;
    margin-bottom: 12px;
    left: 10px;
    position: relative;
}

.banana {
    position: absolute;
    z-index: 2;
    right: 13px;
    bottom: 17px;
}

.bamboo-color {
    position: absolute;
    z-index: 1;
    right: 19px;
    bottom: 17px;
}

.steak {
    position: absolute;
    z-index: 1;
    right: 23px;
    bottom: 21px;
}

.fish {
    position: absolute;
    z-index: 2;
    right: 9px;
    bottom: 18px;
}


.choose-your-favorite {
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    margin-top: 80px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    position: absolute;
}

.choose-your-favorite:hover {
    background: #E47209;
    cursor: pointer;
}

.choose-your-favorite:active {
    background: #4B9200;
}

.palm {
    position: absolute;
    bottom: -234px;
    left: 0;
    z-index: auto;

}

.strelitzia {
    position: absolute;
    right: 0;
    bottom: -234px;
    z-index: auto;

}

.pick_and_feed_a_friend {
    margin-top: 234px;


}

.pick_wrapper {

    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    width: 100%;

}

.pick_box {
    padding: 41px 0px 59px 99px;
    max-width: 1160px;
    width: 100%;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.pick_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: left;
    color: #FE9013;
    margin-left: 251px;
}

.pick_subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-top: 30px;
}

.pick_text_one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    color: #333B41;
    margin-top: 40px;
}

.pick_text_two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    color: #333B41;
    margin-top: 10px;
    margin-right: 198px;
}

.pick_text_two a {
    text-decoration: none;
    border-bottom: 1px #FE9013 solid;
    padding-bottom: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    color: #333B41;

}



.pick_box_second {
    padding: 0px 198px 0px 0px;

}

.pick_box_second h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: left;
    color: #333B41;
    margin-top: 60px;
    margin-left: 376px;
}

.pick_cards_box {
    margin: 40px 0px 60px 99px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 764px;
    width: 100%;

}

.pick_card {
    position: relative;
    width: 168px;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;


}

.white-square {
    position: relative;
    outline: solid 1px #F9804B;
    outline-offset: -1px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 168px;
    height: 168px;

}

.pick-card_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    color: #333B41;
    margin-top: 30px;
    max-width: 168px;
    width: 100%;
}

.arrow_1 {
    margin-top: 62px;
    height: 35.08px;
    padding-left: 30px;
    padding-right: 31px;
}

.arrow_2 {
    margin-top: 58px;
    height: 35.08px;
    padding-left: 30px;
    padding-right: 30px;
}

.feet_a_friend_now {
    width: 298px;
    height: 54px;
    margin-top: 2px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-left: 332px;
}

.feet_a_friend_now:hover {
    background: #E47209;
    cursor: pointer;

}

.feet_a_friend_now:active {
    background: #4B9200;
}

.pay {
    position: absolute;
    top: 54px;
    left: 30px;
}

.bananas {
    position: absolute;
    left: 22px;
    top: 86.45px;
}

.monkey {
    position: absolute;
    left: 68.54px;
    top: 48px;
}

.monkey_eye_1 {
    position: absolute;
    left: 81.48px;
    top: 61.63px;
}

.monkey_eye_2 {
    position: absolute;
    left: 90.77px;
    top: 61.63px;
}

.smile {
    position: absolute;
    left: 84.4px;
    top: 74.96px;
}

.zoo_card {
    position: absolute;
    top: 38px;
    left: 41.23px;
}

.testimonials {
    margin-top: 140px;
    margin-bottom: 180px;
    max-width: 1190px;
    width: 100%;
}



.testimonials h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;


}

.testimonials_boxes {
    margin-top: 47px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;

}

.boxes_wrapper {
    display: flex;
    transform: translateX(31.8%);
    transition: 0.5s all ease;
}

.box {
    position: relative;
    height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 264px;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.testimonials_content {
    margin: 15px 15px 19px 16px;
}

.testimonials_content_header {
    display: flex;
    justify-content: flex-start;
}

.user_name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    color: #000000;
}

.user-info {
    margin-left: 10px;
    width: 100%;
}

/* .user_story {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    color: #767474;
    margin-top: 10px;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 17;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

.user_story {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    max-height: 309px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.location {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    color: #767474;
    padding-top: 1px;
}

.leav_foto {

    position: absolute;
    right: 0;
    z-index: 0;
    top: 4254.88px;
}


/* .module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
  }
  
  .module {
    background: #222;
    color: white;
    padding: 2rem;
  } */

.color_box {
    display: flex;
    position: relative;
    height: 391px;
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;

}

.gray_box {
    background: #F1F3F2;
    height: 387px;

    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 20px;

}




.scrollbar {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
    margin-top: 19px;
}

.scrollbar_input[type="range"] {
    -webkit-appearance: none;
    max-width: 599px;
    width: 100%;
}

.scrollbar_input[type="range"]:focus {
    outline: none;
}

.scrollbar_input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    background: #f5f7f6;
    border-radius: 5px;
    border: 0.5px solid rgba(243, 169, 248, 0.66);
    padding: 1px 0;
}

.scrollbar_input[type="range"]::-webkit-slider-thumb {
    width: 115.19px;
    height: 7px;
    background: #fe9013;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.scrollbar_input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #E47209;
}

.scrollbar_input[type="range"]::-webkit-slider-thumb:active {
    background-color: #4B9200;
}


.leave_feedback {
    margin-left: 15px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}



.leave_feedback:hover {
    background: #E47209;
    cursor: pointer;

}

.leave_feedback:active {
    background: #4B9200;
}

footer {
    position: relative;
    width: 100%;
    background-color: #111115;
    z-index: 2;
}

.wrapper_2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;

}

.mail_subscribe {
    margin-right: 0;
    padding-bottom: 37px;
}

.first_block {
    display: flex;
    justify-content: space-between;
}


.donate {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-bottom: 44px;
}

.donate:hover {
    background: #E47209;
    cursor: pointer;

}

.donate:active {
    background: #4B9200;
}



.circle {
    position: relative;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 26px;
    margin-left: 0;
    margin-right: 0;
}

.footer_first_block_part_2 li:active .circle {

    background: #4B9200;

}

.footer_first_block_part_2 li:active p {

    color: #4B9200;

}

.facebook {
    position: absolute;
    left: 9px;
    top: 5px;
}




.footer_first_block_part_2 {
    margin-left: 0;
    padding-right: 120px;
}

.footer_first_block_part_2 a {
    margin: 0;
}

.footer_first_block_part_2 li a {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    margin-bottom: 10px;

}



.footer_first_block_part_2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-left: 12px;

}

.second_block {
    display: flex;
    align-items: flex-end;
    width: 100%;
}




.third_block_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}


.logo-border_2 {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 82px;
    height: 52px;

}

.twitter {
    position: absolute;
    left: 5px;
    top: 6px;
}

.instagram {
    position: absolute;
    left: 5.44px;
    top: 5.44px;

}

.yotube {
    position: absolute;
    left: 4px;
    top: 6px;
}

.navigation_bottom {
    padding-bottom: 9px;
}

.navigation-list_bottom {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation-item_bottom {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-right: 58px;
    margin-left: 0;
}

.navigation-item_bottom a {
    text-decoration: none;
    color: #FFFFFF;
}


.navigation-item_bottom:first-child a {
    color: #F9804B;
}

.footer_first_block_part_2 li:last-child {
    margin-bottom: 0;
}

.navigation-list_bottom li:last-child {
    margin-right: 0;
}

.footer_first_block_part_2 {
    list-style-type: none;

}

.submit_email {
    width: 129px;
    height: 42px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #D31414;
    outline: solid 1 #D31414;
    outline-offset: -1px;
    margin-left: 10px;
}


.input_email {
    width: 228px;
    height: 42px;
    outline: solid 0.7px #FA6F32;
    outline-offset: -1px;
}

.input_email:default {
    outline: solid 0.7px #FA6F32;

}

.input_email:focus {
    outline: solid 0.7px #4B9200;

}

.input_email:focus~.submit_email {
    color: #333B41;
    outline: solid 1 #333B41;

}

.rss_info {
    font-family: 'Roboto';
    font-style: thin;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-right: 0;
    padding-bottom: 9px;
}



.input_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

}

input[type="email"],
textarea {
    color: #BDBDBD;
    background-color: #111115;
    padding: 10px 7px 10px 10px;

}

.input_email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    color: #BDBDBD;
    margin: 10px 7px 10px 10px;
}

.alisa {
    padding-bottom: 10px;
}

.rss_info a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: thin;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-right: 0;
}

.rss_info a:active {
    color: #4B9200;
}

.navigation-item_bottom a:hover {
    color: #F9804B;

}




@media (min-width: 1000px) and (max-width: 1550px) {
    header {
        background-color: #111115;
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .header-wrapper {
        padding: 14px 30px;

    }

    .navigation-item {
        margin-right: 48px;

    }


    .navigation-item:last-child {
        margin-right: 0;
        margin-left: 211px;
    }


    .watch_your_favorite_animal_online {
        height: 584px;
    }

    .yellow_dot {
        width: 367px;
        height: 367px;
        border-radius: 183.5px;
        left: calc(50% - 367px/2 + 139.5px);
        top: 69px;
    }


    .yellow_dot_container p {
        width: 400.25px;
        height: 320px;
        left: calc(50% - 400.25px/2 + 214.12px);
        top: 122.8px;
        font-size: 85px;
    }

    .watch_online {
        top: 483px;
        left: calc(50% - 298px/2 + 214px);
    }



    .backstage {
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 584px;
        padding-bottom: 145px;
    }

    .backstage-wrapper {
        margin-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .flower_foto1 {
        display: none;
    }

    .backstage_img {
        content: url(../../assets/images/bamboo-cap_1000.jpg);
        margin-top: 9px
    }

    .backstage-content {
        margin-left: 31px;

    }


    .palm {
        width: 386px;
        height: 202px;
        left: -63px;

    }

    .strelitzia {
        width: 241px;
        height: 180px;
    }


    .pets-slider {
        max-width: 980px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .cards {
        row-gap: 95px;
        column-gap: 29px;

    }

    .alnimals_card {
        width: 294px;
        height: 352px;
    }

    .left-and-right {
        display: flex;
        justify-content: center;
    }

    .left {
        left: 323px;
    }

    .right {
        right: 322px;
    }

    .choose-your-favorite {
        margin-top: 80px;
    }

    .palm {
        bottom: -274px;
    }

    .strelitzia {
        bottom: -274px;
    }

    .pick_and_feed_a_friend {
        margin-top: 274px;
    }


    .pick_wrapper {
        padding: 30px 30px 50px 30px;
    }

    .pick_box {
        max-width: 1000px;
        padding: 30px 48px 50px 49px;
    }

    .pick_header {
        margin-left: 190px;
    }

    .pick_subtitle {
        margin-top: 22px;
    }

    .pick_text_one {
        margin-top: 20px;
        margin-right: 30px;

    }

    .pick_text_two {
        margin-right: 0px;
    }

    .pick_box_second {
        padding: 0px 0px 0px 0px;
    }

    .pick_box_second h3 {
        margin-top: 40px;
        margin-left: 317px;
    }

    .pick_cards_box {
        margin: 40px 0px 70px 39px;
    }

    .feet_a_friend_now {
        margin-left: 272px;
    }


    .testimonials {
        margin-top: 100px;
        margin-bottom: 140px;
        max-width: 1000px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    /*     .box:last-child {
        display: none;
    } */

    .pop-up_wrapper {
        display: none;
    }
    .box {
        width: 293px;
    }

    .boxes_wrapper {
        display: flex;
        transform: translateX(36.35%);
        transition: 0.5s all ease;
    }

    .testimonials_boxes {
        margin-top: 30px;
    }

    .testimonials_content {
        margin: 15px 18px 19px 16px;
    }

    .scrollbar_input[type="range"] {
        max-width: 390px;
    }

    .scrollbar_input[type="range"]::-webkit-slider-thumb {
        width: 75px;
    }

    .scrollbar {
        display: flex;
        justify-content: center;
        margin-bottom: 53px;
        margin-top: 15px;
    }


    .wrapper_2 {
        max-width: 1002px;
        padding-left: 31px;
        padding-right: 31px;
    }

    .leav_foto {
        top: 3809px;
        width: 193.98px;
    }


    .navigation-item_bottom {
        margin-right: 48px;
    }

    .footer_first_block_part_2 {
        padding-right: 93px;
    }

    .mail_subscribe {
        margin-right: 32px;
    }
}



@media (min-width: 640px) and (max-width: 999px) {
    .wrapper {
        max-width: 680px;
        margin: 0 auto;
    }

    .header-wrapper {
        padding: 2.99px 20px 2.68px 20px;
    }

    header {
        height: 34px;
        position: fixed;
        top: 0;

    }

    .logo_active {
        margin-right: 90%;
    }



    .navigation {
        position: fixed;
        width: 100%;
        height: 375px;
        top: 0;
        left: 0;
        background-color: #E5E5E5;
        z-index: 10;
        transform: translateX(-100%);
        transition: .2s linear;

    }

    .navigation_active {
        transform: translateX(0);

    }

    .gray_wrapper_active {
        transform: translateX(0);
    }

    .logo_burger {
        position: absolute;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .logo_orange {
        display: block;
        margin-bottom: 58.4px;
    }

    .navigation-item:last-child {
        margin-left: 0px;
    }

    .logo_burger_border {
        box-sizing: border-box;
        border: 0.8px solid #FE9013;
        border-radius: 2px;
        width: 65.6px;
        height: 41.6px;
    }

    .logo_burger a {
        text-decoration: none;
    }

    .logo_burger h1 {
        margin: 2.84px 3.8px;
        vertical-align: top;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15.21px;
        line-height: 120%;
        text-align: center;
        color: #FE9013;
    }

    .img_burger {
        position: absolute;
        left: 9px;
        top: 19.64px;
        content: url(../../assets/icons/bamboo_burger_orange.svg);

    }

    .navigation-item {
        padding-bottom: 15px;
    }

    .navigation-item a {
        text-decoration: none;
        color: #333B41;
    }

    .navigation {
        margin-left: 0;
    }

    .navigation-list {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 10px;
    }

    .header_burger {
        display: block;
    }


    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .header_nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }








    .watch_your_favorite_animal_online {

        height: 373px;
    }

    .yellow_dot {
        width: 237.6px;
        height: 237.6px;
        top: 44.23px;
        border-radius: 118.8px;
        left: calc(50% - 237.6px/2 + 130.44px);
    }

    .yellow_dot_container p {
        position: absolute;
        width: 255.64px;
        height: 204.38px;
        left: calc(50% - 255.64px/2 + 176.76px);
        top: 82.04px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 54.2894px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
    }

    .watch_online {

        left: calc(50% - 298px/2 - 151px);
        top: 279px;

    }


    .logo h1 {
        font-size: 12.29px;
        margin: 0;
    }

    .logo-border {
        width: 46.88px;
        height: 29.03px;
        border: 0.767116px solid #111115;

    }

    .logo img {
        position: absolute;
        left: 5.48px;
        top: 13.99px;
        content: url(../../assets/icons/bamboo_tablet.svg);

    }

    .backstage {
        max-width: 680px;
        padding-top: 373px;
        padding-bottom: 80px;
    }

    .backstage-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 60px;
    }

    .backstage_image {
        display: none;

    }

    .backstage-content {
        margin-left: 0px;
    }

    .backstage-title {
        margin-left: 4px;
    }

    .sub-header {
        margin-left: 4px;

    }

    .content {
        margin-right: 146px;
        margin-top: 22px;
    }

    .sub-header {
        margin-top: 30px;
    }

    .sub-content {
        margin-top: 20px;
        margin-right: 105px;

    }

    .alnimals_card-content {
        padding: 10px 10px 11px 12px;
    }

    .alnimals_card_header {
        font-size: 12.5px;
    }

    .alnimals_card_description {
        margin-top: -1px;
    }

    .banana {
        right: 7px;
        bottom: 12px;
    }

    .bamboo-color {
        right: 11px;
        bottom: 9px;
    }

    .seven {
        display: none;
    }

    .alnimals_card_description {
        font-size: 11.5px;
    }

    .flower_foto1 {
        content: url(../../assets/icons/flower_foto1_tablet.svg);
        top: 368px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


    .pets-slider {
        max-width: 640px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .cards {
        row-gap: 93px;
        column-gap: 32px;
    }

    .alnimals_card {
        width: 283px;
        height: 331px;
    }

    .five {
        display: none;
    }

    .six {
        display: none;
    }

    .right {
        right: 223.54px;
    }

    .left {
        left: 223.54px;
    }

    .palm {
        content: url(../../assets/icons/palm_foto_tablet.svg);
        bottom: -217px;

    }

    .strelitzia {
        content: url(../../assets/icons/strelitzia_tablet.svg);
        bottom: -217px;

    }

    .choose-your-favorite {
        margin-top: 62px;
    }

    .pick_and_feed_a_friend {
        margin-top: 217px;
    }

    .pick_wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pick_box {
        max-width: 640px;
        padding: 10px 20px 60px 20px;
    }

    .pick_text_two {
        margin-right: 0px;
    }

    .pick_header {
        margin-left: 98px;
        font-size: 42px;
    }

    .pick_subtitle {
        margin-top: 20px;
        font-size: 22px;
    }

    .pick_text_one {
        margin-top: 20px;
    }

    .pick_box_second {
        padding: 0px 12px 0px 0px;
    }

    .pick_box_second h3 {
        margin-left: 196px;
        margin-top: 30px;
    }

    .pick_cards_box {
        position: relative;
        margin: 20px 0px 40px 0px;
        max-width: 588px;
        flex-wrap: nowrap;
    }

    .pick-card {
        z-index: 0;
        margin-left: 21px;
        margin-right: 21px;

    }

    .arrow_1 {
        z-index: 1;
        top: -20px;
        left: 93px;
        position: absolute;
        content: url(../../assets/icons/greeen_arrow_tablet.svg);
        margin-top: 0px;
    }

    .arrow_2 {
        top: -20px;
        left: 300px;
        z-index: 1;
        position: absolute;
        content: url(../../assets/icons/greeen_arrow_tablet.svg);
        margin-top: 0px;

    }

    .feet_a_friend_now {
        margin-left: 151px;
    }


    .testimonials {
        margin-top: 60px;
        margin-bottom: 80px;
        max-width: 680px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }


    .testimonials_boxes {
        flex-direction: column;
        margin-top: 30px;
    }

    .box:hover {
        cursor: pointer;
    }

    .boxes_wrapper {
        display: flex;
        flex-direction: column;
        transition: 0.5s all ease;
        transform: translateX(0);
    }

    .box:nth-child(4) {
        display: none;
    }

    .box:nth-child(5) {
        display: none;
    }

    .box:nth-child(6) {
        display: none;
    }

    .box:nth-child(7) {
        display: none;
    }

    .box:nth-child(8) {
        display: none;
    }

    .box:nth-child(9) {
        display: none;
    }

    .box:nth-child(10) {
        display: none;
    }

    .box:nth-child(11) {
        display: none;
    }

    .box {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        height: 109px;
        width: 100%;
    }

    .pop-close {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .pop-close-line {
        display: block;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .pop-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .pop-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .pop-up_wrapper {
        position: absolute;
        left: 50%;
        top: 400%;
        transform: translate(-50%, -50%);
        z-index: 22;
    }

    .testimonials_content-pop {
        padding: 15px 15px 19px 16px;
    }

    .pop-box {
        position: relative;
        height: 391px;
        background: #F1F3F2;
        border-radius: 20px;
        margin-left: 15px;
        margin-right: 15px;
        width: 267px;
    }

    .pop-box::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        padding: 2px;
        background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .user_story-pop {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #767474;
        max-height: 309px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

    .testimonials_content {
        margin: 14px 17px 0px 12px;
    }


    .box:last-child {
        display: none;
    }

    .user_story {
        max-height: 38px;
        overflow: hidden;
    }

    .testimonials_content_header_pop-up {
        display: flex;
    }

    .scrollbar {
        display: none;
    }

    .leave_feedback {
        margin-top: 25px;
        width: 240px;
        margin-left: 180px;
    }

    .leav_foto {
        content: url(../../assets/icons/leav_foto_tablet.svg);
        top: 3164.2px;
    }



    .wrapper_2 {
        max-width: 680px;
        padding: 12px 20px;
    }



    .logo-border_2 {
        border: 0.5px solid #FFFFFF;
    }


    .logo-border_2 h1 {
        font-size: 19.01px;
    }


    .logo-border_2 img {
        content: url(../../assets/icons/bamboo_footer_tablet.svg);
        top: 22.64px;
        left: 15.23px;

    }

    .mail_subscribe {
        display: none;
    }

    .donate {
        margin-top: 32px;
        margin-bottom: 68px;
    }

    .footer_first_block_part_2 p {
        display: none;
    }

    .footer_first_block_part_2 {
        padding-right: 0px;
        position: absolute;
        right: 20px;
        top: 12px
    }

    .navigation_bottom {
        margin-left: 1px;
    }

    .navigation-item_bottom {
        margin-right: 37px;
    }

    .footer_first_block_part_2 li {
        margin-bottom: 20px;
    }

}


@media (min-width: 300px) and (max-width: 639px) {

    .wrapper {
        max-width: 340px;
        margin: 0 auto;
    }

    .header-wrapper {
        padding: 2.29px 10px 2.68px 10px;
    }

    .gray_wrapper_active {
        transform: translateX(0);
    }

    header {
        height: 34px;
        position: fixed;
        top: 0;
    }

    .logo_active {
        margin-right: 78%;
    }



    .navigation {
        position: fixed;
        width: 100%;
        height: 369px;
        top: 0;
        left: 0;
        background-color: #E5E5E5;
        z-index: 10;
        transform: translateX(-100%);
        transition: .2s linear;

    }

    .navigation_active {
        transform: translateX(0);

    }

    .logo_burger {
        position: absolute;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .logo_orange {
        display: block;
        margin-bottom: 58.4px;
    }

    .navigation-item:last-child {
        margin-left: 0px;
    }

    .logo_burger_border {
        box-sizing: border-box;
        border: 0.8px solid #FE9013;
        border-radius: 2px;
        width: 65.6px;
        height: 41.6px;
    }

    .logo_burger a {
        text-decoration: none;
    }

    .logo_burger h1 {
        margin: 2.84px 3.8px;
        vertical-align: top;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15.21px;
        line-height: 120%;
        text-align: center;
        color: #FE9013;
    }

    .img_burger {
        position: absolute;
        left: 9px;
        top: 19.64px;
        content: url(../../assets/icons/bamboo_burger_orange.svg);

    }

    .navigation-item {
        padding-bottom: 15px;
    }

    .navigation-item a {
        text-decoration: none;
        color: #333B41;
    }

    .navigation {
        margin-left: 0;
    }

    .navigation-list {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 10px;
    }

    .header_burger {
        display: block;
    }


    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .header_nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .logo h1 {
        font-size: 12.29px;
        margin: 0;
    }

    .logo-border {
        width: 46.88px;
        height: 29.03px;
        border: 0.767116px solid #111115;

    }

    .logo img {
        position: absolute;
        left: 5.48px;
        top: 13.99px;
        content: url(../../assets/icons/bamboo_tablet.svg);

    }


    .watch_your_favorite_animal_online {
        /*         content: url(../../assets/images/giant_panda_mobile.png);
 */
        top: 34px;
        height: 186.96px;
    }


    .yellow_dot {
        width: 119.09px;
        height: 119.09px;
        border-radius: 59.54px;
        left: calc(50% - 119.09px/2 + 62.45px);
        top: 22.17px;
        ;
    }

    .yellow_dot_container p {
        width: 128.13px;
        height: 102.44px;
        left: calc(50% - 128.13px/2 + 85.67px);
        top: 41.12px;
        font-size: 28px;
    }


    .backstage_image {
        display: none;

    }

    .watch_online {
        left: calc(50% - 298px/2);
        top: 206.96px;
    }

    .backstage {
        max-width: 340px;
        padding-top: 187px;
        padding-bottom: 44px;
    }

    .backstage-wrapper {
        padding: 0 10px;
    }

    .backstage-content {
        margin-left: 0px;
    }

    .backstage-title {
        font-size: 24px;
    }

    .content {
        margin-top: 10px;
        margin-left: 2px;
    }

    .sub-header {
        margin-top: 20px;
        margin-left: 2px;
    }

    .sub-content {
        margin-top: 10px;
    }

    .flower_foto1 {
        content: url(../../assets/icons/flower_foto1_mobile.svg);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        top: 259px;
    }

    .alnimals_card {
        width: 284px;
        height: 330px;
    }

    .cards {
        row-gap: 22px;
        column-gap: 30px;
    }


    .alnimals_card-content {
        padding: 10px 10px 11px 12px;
    }

    .alnimals_card_header {
        font-size: 12.5px;
    }

    .alnimals_card_description {
        margin-top: -1px;
    }

    .banana {
        right: 7px;
        bottom: 12px;
    }

    .bamboo-color {
        right: 11px;
        bottom: 9px;
    }



    .alnimals_card_description {
        font-size: 11.5px;
    }


    .left-and-right {
        display: none;
    }

    .five {
        display: none;
    }

    .six {
        display: none;
    }

    .seven {
        display: none;
    }

    .choose-your-favorite {
        margin-top: 20px;
    }

    .palm {
        content: url(../../assets/icons/palm_foto_mobile.svg);
        bottom: -134px;


    }

    .strelitzia {
        content: url(../../assets/icons/strelitzia_mobile.svg);
        bottom: -134px;

    }


    .pick_and_feed_a_friend {
        margin-top: 134px;
    }


    .pick_wrapper {
        padding: 20px 10px;
    }

    .pick_box {
        max-width: 320px;
        padding: 20px 10px 40px 10px;
    }

    .pick_header {
        font-size: 24px;
        margin-left: 34px;
        margin-left: 25px;
    }

    .pick_subtitle {
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
    }

    .pick_text_one {
        display: none;
    }

    .pick_text_two {
        display: none;
    }

    .pick_box_second h3 {
        margin-left: 72px;
        margin-top: 22px;
        font-size: 24px;
    }

    .pick_box_second {
        padding: 0;
    }

    .pick_cards_box {
        margin: 20px 0px 0px 0px;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 22px;

    }



    .pick-card_text {
        margin-top: 10px;
        height: 44px;
    }


    .arrow_1 {
        height: auto;
        position: absolute;
        content: url(../../assets/icons/arrow_green_mobile.svg);
        right: 5.21px;
        top: 296px;

    }

    .arrow_2 {
        height: auto;
        position: absolute;
        content: url(../../assets/icons/arrow_green_mobile.svg);
        right: 5.21px;
        top: 548px;

    }

    .feet_a_friend_now {
        margin-left: -9px;
        margin-top: 42px;
    }

    .testimonials {
        max-width: 320px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .testimonials h3 {
        font-size: 24px;
        max-width: 340px;
    }

    .testimonials_boxes {
        flex-direction: column;
        margin-top: 20px;
    }

    .box:hover {
        cursor: pointer;
    }

    .boxes_wrapper {
        display: flex;
        flex-direction: column;
        transition: 0.5s all ease;
        transform: translateX(0);
    }

    .box:nth-child(4) {
        display: none;
    }

    .box:nth-child(5) {
        display: none;
    }

    .box:nth-child(6) {
        display: none;
    }

    .box:nth-child(7) {
        display: none;
    }

    .box:nth-child(8) {
        display: none;
    }

    .box:nth-child(9) {
        display: none;
    }

    .box:nth-child(10) {
        display: none;
    }

    .box:nth-child(11) {
        display: none;
    }

    .box {
        width: 299px;
        height: 109px;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }



    .pop-close {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .pop-close-line {
        display: block;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .pop-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .pop-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .pop-up_wrapper {
        position: absolute;
        left: 50%;
        top: 487%;
        transform: translate(-50%, -50%);
        z-index: 22;
    }

    .testimonials_content-pop {
        padding: 15px 15px 19px 16px;
    }

    .testimonials_content_header_pop-up {
        display: flex;
    }

    .pop-box {
        position: relative;
        height: 391px;
        background: #F1F3F2;
        border-radius: 20px;
        margin-left: 15px;
        margin-right: 15px;
        width: 267px;
    }

    .pop-box::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        padding: 2px;
        background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .user_story-pop {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #767474;
        max-height: 309px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }




    .testimonials_content {
        margin: 9px 15px 19px 11px;
    }

    .box:nth-child(4) {
        display: none;
    }

    .user_story {
        max-height: 38px;
        overflow: hidden;
    }

    .scrollbar {
        display: none
    }

    .leave_feedback {
        width: 240px;
        margin-left: 40px;
        margin-top: 15px;
    }

    .leav_foto {
        content: url(../../assets/icons/leav_foto_mobile.svg);
        top: 3872.57px;
    }

    .mail_subscribe {
        display: none;
    }

    .wrapper_2 {
        max-width: 320px;
        padding: 20px 10px;
    }

    .logo-border_2 {
        width: 100%;
        height: auto;
        border: none;
    }

    .first_block .logo {
        margin-left: 86px;
    }

    .logo-border_2 h1 {
        font-size: 19.01px;
    }

    .logo-border_2 img {
        content: url(../../assets/icons/bamboo_footer_mobile.svg);
        width: auto;
        height: auto;
        left: 74.48px;
        top: -2.01px;
    }

    .footer_first_block_part_2 p {
        display: none;
    }

    .footer_first_block_part_2 {
        display: flex;
        flex-direction: row;
        position: absolute;
        padding-right: 0;
        top: 73px;
        left: 63px;
    }

    .second_block {
        display: flex;
        flex-direction: column;
    }


    .navigation_bottom {
        order: 3;
        padding-bottom: 0;
    }

    .navigation-item_bottom {
        margin-right: 30px;
    }

    .donate {
        margin-top: 85px;
        margin-bottom: 30px;
    }

    .footer_first_block_part_2 li {
        margin-right: 30px;
    }

    .rss_info p {
        font-size: 15px;
    }

    .rss_info {
        padding-bottom: 26px;
    }

}

@media (min-width: 1051px) {
    
    .pop-up_wrapper {
        display: none;
    }

}